.editOverlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.editContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-bottom: 10px;
}

.inputForm {
  padding: 8px;
  font-size: 18px;
  border-radius: 10px;
}

.btnForm {
  padding: 20px 30px;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  border: none;
}
